version: "3"
services:

    redis:
        image: redis
        hostname: redis
        ports:
            - "6380:6379"
        volumes:
            - "redis_data:/data"
        networks:
            - databases

    psql:
        image: postgres:12
        hostname: postgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: postgres
        volumes:
            - "postgres_data:/var/lib/postgresql/data/"
            - "./postgresql.conf:postgres_data/postgresql.conf"
            - "./pg_hba.conf:postgres_data/data/pg_hba.conf"
        #command: postgres -c config_file=/etc/postgresql/postgresql.conf,/etc/postgresql/pg_hba.conf
        ports:
            - "5434:5432"
        expose:
            - 5432
        restart: unless-stopped
        networks:
            - databases

networks:
  databases:
    name: databases
    driver: overlay
    attachable: true

volumes:
    redis_data:
    postgres_data: