version: "3"
services:
    # scheduler_server:
    #     build:
    #         context: ./job_scheduler/server
    #         dockerfile: Dockerfile
    #     ports:
    #         - "9090:9090"
    #     networks:
    #         - default
    #     volumes:
    #         - ./job_scheduler/server:/usr/src/app
    #         - /usr/src/app/node_modules
    #     environment:
    #         - REDIS_HOST=redis
    #         - AO_API_URL=http://ao-api:3004
    #     command: npm run dev

    # ui:
    #     build:
    #         context: ./ui
    #         dockerfile: Dockerfile
    #     ports:
    #         - "3010:80"
    #     networks:
    #         - default
    #     volumes:
    #         - ./ui:/usr/src/app
    #         - ./ui/nginx.conf:/etc/nginx/nginx.conf
    #         - /usr/src/app/node_modules

    redis:
        image: redis
        hostname: redis
        ports:
            - "6380:6379"
        volumes:
            - "redis_data:/data"

    psql:
        image: postgres:12
        hostname: postgres
        env_file:
            - postgres.env
        volumes:
            - "postgres_data:/var/lib/postgresql/data/"
        ports:
            - "5432:5432"
        restart: unless-stopped

    ao-api:
        build:
            context: .
            dockerfile: ao-api/Dockerfile
        depends_on:
            - psql
            # - scheduler_server
            - redis
        hostname: ao-api
        working_dir: /root/
        volumes:
            - ao_api_data:/go/src/github.com/dotenx/dotenx/ao-api
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - default
        ports:
            - "3004:3004"

    runner:
        build:
            context: runner
            dockerfile: Dockerfile
        working_dir: /root/
        volumes:
            - /tmp/cache:/tmp/cache
            - runner_data:/go/src/github.com/dotenx/dotenx/runner
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - default

networks:
    default:
        external:
            name: local

volumes:
    redis_data:
    postgres_data:
    ao_api_data:
    runner_data:
